<div class="fadeInDown">
  <div class="fadeIn first" style="width: 100%; text-align: center; margin-top: 20px; color: #1e90ff;">
    <h1 style="font-size: 40px; font-weight: bold;" class="blue-color">Reset Password</h1>
    <p style="padding: 0px 200px; color: black;">If you would like to reset your password, enter your email in the field
      below and a
      link to reset your password will
      be sent to your email.</p>

    <form id="resetForm">
      <div class="reset-input-div">
        <p style="color: red; font-size: 15px; display: none;" id="notFound">Error: email not found</p>
        <input #passwordResetEmail type="text" id="email" class="reset-input" name="email" placeholder="email" required>
      </div>
      <input id="resetBtn" type="button" class="btn btn-primary" style="width: 250px;"
        (click)="authService.ForgotPassword(passwordResetEmail.value)" value="Reset Password">
    </form>

    <div style="width: 100%; text-align: center;">
      <h2 id="message" style="font-size: 20px; margin-top: 70px; display: none;">Password reset link has been sent.</h2>
    </div>
  </div>

  <div class="redirectToLogin fadeIn first" style="text-align: center; margin-top: 15px;">
    <a class="redirect" routerLink="/login">Return to login</a>
  </div>
</div>