.mentor-title {
    font-family: "Darker Grotesque";
    font-size: 60px;
    color: rgb(22, 168, 239);
    text-align: center;
  }
  
  .tab {
    overflow: hidden;
    margin-bottom: auto;
    text-align: center;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #f1f1f1;
  }
  
  .tab button.active {
    background-color: #f1f1f1;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

  .tablinks {
    float: none !important;
  }

  .error {
    color: red;
    font-size: 15px;
    margin: 20px 0px;
    display: none;
    text-align: center;
  }