<body>
    <h1 class="mentor-title">Mentor Matching</h1>
    <p style="font-size: 20px; margin: 90px auto 20px auto; display: none; text-align: center; padding: 0px 20%;" id="successMsg">Application successfully submitted! A Colorful Connections representative will be in contact with you shortly.</p>

    <div id="formsDiv">
        <div class="tab">
            <button id="btn1" class="tablinks" [ngClass]="{ active: isActive(1) }" (click)="openTab(1)">
                Mentee Application
            </button>
            <button id="btn2" class="tablinks" [ngClass]="{ active: isActive(2) }" (click)="openTab(2)">
                Mentor Application
            </button>
            <!-- <button class="tablinks" onclick="openApp(event, 'Mentee')" id="default">
        Mentee Application
      </button>
      <button class="tablinks" onclick="openApp(event, 'Mentor')">
        Mentor Application
      </button> -->
        </div>

        <!-- Tab content -->
        <div id="Mentee" class="tabcontent fadeInDown">
            <h3 style="text-align: center;" class="fadeIn first">Mentee Application</h3>
            <div class="error" id="alreadyApplied">Error: application already submitted. A Colorful Connections representative will be in contact with you soon.</div>
            <form class="form-group row fadeIn first" style="margin-top: 40px">
                <div class="col-md-2"></div>
                <!-- Left div -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="firstname" style="float: left">First Name </label>
                        <input required type="text" class="form-control" [(ngModel)]="mentee.fname" name="fname"
                            id="fname" placeholder="First" />
                    </div>
                    <div class="form-group">
                        <label for="email" style="float: left">Email address </label>
                        <input required type="text" class="form-control" [(ngModel)]="mentee.email" name="email"
                            id="email" placeholder="name@example.com" />
                    </div>
                    <div class="form-group">
                        <label for="position" style="float: left">Date of Birth</label>
                        <input type="date" class="form-control" [(ngModel)]="mentee.birthday" name="birthday"
                            id="birthday" />
                    </div>
                    <div class="form-group">
                        <label for="password" style="float: left; margin-right: 20px;">Industry</label>
                        <select name="industry" id="industry" [(ngModel)]="mentee.industry">
                            <option value="arts">Arts & Entertainment</option>
                            <option value="eng">Engineering</option>
                            <option value="health">Health Care and Medicine</option>
                            <option value="business">Business & Development</option>
                            <option value="finance">Financial Services</option>
                            <option value="science">Science & Technology</option>
                        </select>
                    </div>
                </div>

                <!-- Right div -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lname" style="float: left">Last Name</label>
                        <input required type="text" class="form-control" [(ngModel)]="mentee.lname" name="lname"
                            id="lname" placeholder="Last" />
                    </div>
                    <!-- <div class="form-group">
                <label for="areasofimpact" style="float: left">Areas for Mentoring Impact:</label>
                <div>
                    <input type="checkbox" id="area1" name="area1" value="one" [{ngModel}]="mentee.areasofimpact[0]" />
                    <label for="area1">Knowledge and Practice of Professional Etiquette</label><br />
                    <input type="checkbox" id="area2" name="area2" value="two" [{ngModel}]="mentee.areasofimpact[1]" />
                    <label for="area2"> Focus and Practice on the Field of Career</label><br />
                    <input type="checkbox" id="area3" name="area3" value="three" />
                    <label for="area3"> Professional Network Expansion</label><br />
                    <input type="checkbox" id="area4" name="area4" value="four" />
                    <label for="area4"> Personality Development</label><br />
                    <input type="checkbox" id="area5" name="area5" value="five" />
                    <label for="area5"> Communication Skills Improvement</label><br />
                </div>
            </div> -->
                    <div class="form-group">
                        <label for="phone" style="float: left">Phone Number</label>
                        <input type="text" class="form-control" [(ngModel)]="mentee.phone" name="phone" id="phone"
                            placeholder="Phone" />
                    </div>
                </div>
                <div class="col-md-2"></div>
                <!-- Bottom div -->
                <div class="col-md-12" style="text-align: center; margin-top: 50px">
                    <button type="button" (click)="submitMentee()" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </form>
        </div>

        <div id="Mentor" class="tabcontent fadeInDown">
            <h3 style="text-align: center;" class="fadeIn first">Mentor Application</h3>
            <div class="error" id="alreadyAppliedMentor">Error: application already submitted. A Colorful Connections representative will be in contact with you soon.</div>
            <form class="form-group row fadeIn second" style="margin-top: 40px">
                <div class="col-md-2"></div>
                <!-- Left div -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="firstname" style="float: left">First Name</label>
                        <input required type="text" class="form-control" [(ngModel)]="mentor.fname" name="fname"
                            id="fname" placeholder="First" />
                    </div>
                    <div class="form-group">
                        <label for="email" style="float: left">Email address</label>
                        <input required type="text" class="form-control" [(ngModel)]="mentor.email" name="email"
                            id="email" placeholder="name@example.com" />
                    </div>
                    <div class="form-group">
                        <label for="position" style="float: left">Date of Birth</label>
                        <input type="date" class="form-control" [(ngModel)]="mentor.birthday" name="birthday"
                            id="birthday" />
                    </div>
                    <div class="form-group">
                        <label for="password" style="float: left; margin-right: 20px;">Industry</label>
                        <select name="industry" id="industry" [(ngModel)]="mentor.industry">
                            <option value="arts">Arts & Entertainment</option>
                            <option value="eng">Engineering</option>
                            <option value="health">Health Care and Medicine</option>
                            <option value="business">Business & Development</option>
                            <option value="finance">Financial Services</option>
                            <option value="science">Science & Technology</option>
                        </select>
                    </div>
                </div>

                <!-- Right div -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lname" style="float: left">Last Name</label>
                        <input required type="text" class="form-control" [(ngModel)]="mentor.lname" name="lname"
                            id="lname" placeholder="Last" />
                    </div>
                    <div class="form-group">
                        <label for="companyname" style="float: left; width: 100%;">Have you mentored before?</label>
                        <input type="radio" value="yes" class="form-check-input" name="mentorexp" id="mentorexp1" [(ngModel)]="mentor.mentorexp" style="margin-left: 0px;" />
                        <label for="mentorexp1" style="margin-left: 18px;">Yes</label>
                        <br />
                        <input type="radio" value="no" class="form-check-input" name="mentorexp" id="mentorexp2" [(ngModel)]="mentor.mentorexp" style="margin-left: 0px;" />
                        <label style="margin-left: 18px;" for="mentorexp2">No</label>
                        <br />
                    </div>
                    <div class="form-group">
                        <label for="phone" style="float: left">Phone Number</label>
                        <input type="text" class="form-control" [(ngModel)]="mentor.phone" name="phone" id="phone"
                            placeholder="Work Number" />
                    </div>
                    <div class="form-group">
                        <label for="mentorexperience" style="float: left; margin-right: 20px;">Years of experience</label>
                        <select name="mentorrxperience" style="width: 100px;" id="mentorexperience" [(ngModel)]="mentor.experience">
                            <option value="1-3">1-3</option>
                            <option value="4-6">4-6</option>
                            <option value="7-9">7-9</option>
                            <option value="10+">10+</option>
                        </select>
                    </div>
                    
                    <!-- <div style="float: left; text-align: left">
                        <label>How many years of experience do you have?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="experience" id="experience1"
                                [(ngModel)]="mentor.experience" value="1-3" />
                            <label class="form-check-label" for="experience1"> 1-3 </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="experience" id="experience2"
                                [(ngModel)]="mentor.experience" value="4-7" />
                            <label class="form-check-label" for="experience2"> 4-7 </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="experience" id="experience3"
                                [(ngModel)]="mentor.experience" value="8-10" />
                            <label class="form-check-label" for="experience3"> 8-10 </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="experience" id="experience4"
                                [(ngModel)]="mentor.experience" value="10+" />
                            <label class="form-check-label" for="experience4"> 10+ </label>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-2"></div>
                <!-- Bottom div -->
                <div class="col-md-12" style="text-align: center; margin-top: 50px">
                    <button type="button" (click)="submitMentor()" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </form>
        </div>

        <!-- <script>
      document.getElementById("default").click();
      function openApp(evt, appName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(appName).style.display = "block";
        evt.currentTarget.className += " active";
      }
    </script> -->
    </div>



</body>