<div class="basic-page-div signup-div fadeInDown">
    
    <h1 class="basic-page-title fadeIn first">How can we help you?</h1>
    <div class="row fadeIn first" style="margin-top: 90px;">

        <div class="col-md-6">
            <div style="max-width: 450px; margin: 0 0 0 auto;">
                <a routerLink="/professional-signup">
                    <button class="basic-button signup-button">
                        <img class="button-logo" src="assets/job_search_2.png" />
                        <p class="basic-text">Find a Job</p>
                    </button>
                </a>
            </div>

        </div>

        <div class="col-md-6">
            <div style="max-width: 450px; margin: 0 auto 0 0;">
                <a routerLink="/employer-signup">
                    <button class="basic-button signup-button">
                        <img class="button-logo" style="opacity: 0.8;" src="assets/Recruiting Icon BW.png" />
                        <p class="basic-text">Find Professionals</p>
                    </button>
                </a>
            </div>

        </div>
    </div>
    <div class="fadeIn second"
        style="font-size: 18px; margin-top: 100px; float: left; text-align: left; margin-left: -180px;">
        <p>Already have an account?
            <a class="signin-link" style="cursor: pointer;" routerLink="/login">Sign in</a>
        </p>
        <a routerLink="/tempdash">Dev Page</a>
    </div>

</div>