<div style="text-align: center; height: 100%;">
    <h1 class="page-title" style="margin-top: 30px;">How can we help you?</h1>
    <div class="row page-div" style="text-align: center;">
        <div class="col-md-6" style="height: 200px;">
            <a routerLink="/professional-signup">
                <button class="dashboard-button signup-button">
                    <p>Find a Job</p>
                </button>
            </a>
        </div>
        <div class="col-md-6">
            <a routerLink="/employer-signup">
                <button class="dashboard-button signup-button">
                    <p>Find Professionals</p>
                </button>
            </a>
        </div>
    </div>
</div>