.about-us {
  text-align: center;
}

.diverse-img {
  display: none;
  visibility: hidden;
}

.diversity-img {
  display: none;
  visibility: hidden;
}

.msg {
  display: none;
  visibility: hidden;
}