<div class="about-us">
  <body>
    <div class="diverse-img">
      <img
        class="diversity-img"
        src="assets/ColorfulConnections_TalentGrid_Horizontal_01_edited_edited.jpg"
      />
      <div class="msg">
        Creating A Diverse Workforce To Spark Diverse Thinking
      </div>
    </div>
    <br /><br />
    <h1>WHO WE ARE</h1>
    <br />
    <p align="center">
      Colorful Connections is a social entreprise that helps organizations
      reflect the diversity of their modern consumer market.
    </p>
    <br /><br />
    <img class="info1" src="assets/info1.png" />
    <div class="info">
      <br /><br /><br />
      <h1>WHAT WE DO</h1>
      <br />
      <img class="checkmark-img" src="assets/check-mark.png" />
      <br /><br />
      <h3 align="left">DIVERSITY RECRUITING</h3>
      <p align="left">
        We connect employers with skilled talent who represent the spectrum of
        diversity.
      </p>
      <img class="checkmark-img" src="assets/check-mark.png" />
      <br /><br />
      <h3 align="left">TALENT DEVELOPMENT</h3>
      <p align="left">
        We support existing and emerging professionals in advancing their
        careers.
      </p>
      <img class="checkmark-img" src="assets/check-mark.png" />
      <br /><br />
      <h3 align="left">DIVERSITY AND INCLUSION TRAININGS</h3>
      <p align="left">
        We help companies produce better work by appreciating and unleashing the
        value of diversity in the workplace.
      </p>
      <br /><br />
      <h1 align="center">WHY DIVERSITY MATTERS</h1>
      <br />
      <p align="center">
        Diversity looks different to each organization but bottom line, research
        proves diverse teams are key to an organization's ability to remain
        competitive, innovative and profitable.
      </p>
      <br /><br />
      <h3 align="center">Colorful Connections</h3>
      <br />
      <div class="row" id="images">
        <div class="column">
          <a
            href="https://www.facebook.com/MakeColorfulConnections/"
            target="”_blank”"
            ><img src="assets/facebook.png"
          /></a>
        </div>
        <br /><br />
        <div class="column">
          <a
            href="https://www.linkedin.com/company/colorfulconnections/"
            target="”_blank”"
            ><img src="assets/linkedin.png"
          /></a>
        </div>
        <br /><br />
        <div class="column">
          <a href="https://twitter.com/ColorfulConnec1" target="”_blank”"
            ><img src="assets/twitter.png"
          /></a>
        </div>
        <br /><br />
        <div class="column">
          <a
            href="https://www.instagram.com/colorfulconnections/"
            target="”_blank”"
            ><img src="assets/instagram.png"
          /></a>
        </div>
      </div>
      <br /><br />
    </div>
  </body>
</div>
