<div class="basic-page-div fadeInDown">
  <h1 class="basic-page-title fadeIn first">Professional Signup</h1>

  <form class="form-group row" method="POST" #signupForm="ngForm" style="margin-top: 40px;">
    <div class="col-md-2"></div>
    <!-- Left div -->
    <div class="col-md-4">
      <div class="form-group fadeIn first">
        <label for="firstname" style="float: left;">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.fname" name="fname" id="fname" placeholder="First">
      </div>
      <div class="form-group fadeIn second">
        <label for="email" style="float: left;">Email address</label>
        <input required type="text" class="form-control" [(ngModel)]="user.email" name="email" id="email" placeholder="name@example.com">
      </div>
      <div class="form-group fadeIn third" style="width: 100%;">
        <label for="resume" style="float: left;">Resume</label>
        <input type="file" class="form-control-file" name="resume" id="resume">
      </div>
    </div>

    <!-- Right div -->
    <div class="col-md-4">
      <div class="form-group fadeIn first">
        <label for="lname" style="float: left;">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.lname" name="lname" id="lname" placeholder="Last">
      </div>
      <div class="form-group fadeIn second">
        <label for="pronouns" style="float: left;">My Pronouns are: (This is voluntary)</label>
        <select class="form-control" [(ngModel)]="user.pronouns" name="pronouns" id="pronouns">
          <option>Prefer not to say</option>
          <option>She/Her</option>
          <option>He/His</option>
          <option>They/Their</option>
        </select>
      </div>
      <div class="form-group fadeIn third">
        <label for="password" style="float: left;">Password</label>
        <input required type="url" class="form-control" [(ngModel)]="user.password" name="password" id="password" placeholder="Password">
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-12 fadeIn third" style="text-align: center; margin-top: 50px;">
      <button type="button" (click)="createUser()" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>