<div style="width: 100%; text-align: center">
  <h1 class="blue-color">Reset Password</h1>
  <p id="pinfo">
    If you would like to reset your password, enter your email in the field
    below and a link to reset your password will be sent to your email.
  </p>
  <br /><br />

  <form id="resetForm">
    <div class="reset-input-div">
      <p style="color: red; font-size: 15px; display: none" id="notFound">
        Email not found, please sign up!
      </p>
      <input
        type="text"
        [(ngModel)]="user.email"
        id="email"
        class="reset-input"
        name="email"
        placeholder="email"
        required
      />
    </div>
    <input
      type="button"
      class="btn btn-primary"
      (click)="sendResetLink()"
      value="Reset Password"
    />
  </form>

  <div style="width: 100%; text-align: center">
    <h2 id="message" style="font-size: 20px; margin-top: 40px; display: none">
      Password reset link has been sent.
    </h2>
  </div>
</div>
