h1 {
  text-align: center;
  color: black;
  font-size: 48px;
  font-family: "Bebas Neue";
}

#pinfo {
  color: black;
  font-size: 24px;
  font-family: "Darker Grotesque";
  padding: 0px 200px;
}

.reset-input-div {
  float: left;
  width: 100%;
}

.reset-input {
  width: 30%;
  margin: auto;
}

.btn {
  margin-top: 30px;
}
