<div class="basic-page-div fadeInDown">
  <h1 class="basic-page-title fadeIn first">Job Posting</h1>
  <a style="width: 100%;" class="fadeIn first">
    <button type="button" class="btn btn-primary logoutbtn" style="float: right;" routerLink = "/employer-dashboard">Return to Dashboard</button>
  </a>
  <p style="font-size: 20px; margin: 90px auto 20px auto; display: none;" id="successMsg">Job successfully created!</p>

  <div class="form-group row" style="margin-top: 90px" id="postForm">
    <div class="col-md-2"></div>
    <!-- Left div -->
    <div class="col-md-4">
      <div class="form-group fadeIn first">
        <label for="position" style="float: left">Job position *</label>
        <input type="text" class="form-control" name="position" id="position" placeholder="Position" #Position />
      </div>
      <div class="form-group fadeIn second">
        <label for="description" style="float: left">Job description *</label>
        <textarea required type="text" class="form-control" name="description" id="description" #Description></textarea>
      </div>
    </div>

    <!-- Right div -->
    <div class="col-md-4">
      <div class="form-group fadeIn first">
        <label for="lname" style="float: left">Preferred years of experience</label>
        <input type="text" class="form-control" name="experience" id="experience" placeholder="Experience" #Experience />
      </div>
      <div class="form-group fadeIn second">
        <label for="pronouns" style="float: left">Location</label>
        <input type="text" class="form-control" name="location" id="location" placeholder="Location" #Location />
      </div>
      <div class="form-group fadeIn third">
        <label for="password" style="float: left">Contact information: </label>
        <input required type="url" class="form-control" name="password" id="password" placeholder="Email or Phone" #Contact />
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-12 fadeIn third" style="text-align: center; margin-top: 50px">
      <button type="button" class="btn btn-primary"(click)="createJobPost(Position.value, Description.value, Experience.value, Location.value, Contact.value)">
        Create Job Post
      </button>
    </div>
  </div>
</div>