<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown" style="margin-top: 100px;">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/user1.png" id="icon" alt="User Icon"
        style=" margin-top: 20px; margin-bottom: 10px; opacity: 0.7; height: 150px; width: auto;" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <a href="/professional-dashboard">
        <input type="button" class="fadeIn fourth" value="Log In">
        </a>
      </form>
    <div class="row">
      <div id="formFooter" class="" style="margin-left: 15px; width: 50%;">
        <a class="underlineHover" href="/main-signup" style="text-decoration: none;">Sign Up</a>
      </div>
      <!-- Remind Passowrd -->
      <div id="formFooter" class="" style="width: 43.6%;">
        <a class="underlineHover" href="#" style="text-decoration: none;">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>