<div class="row dashboard-div">
  <div class="col-md-4 dashboard-button-div">
    <a routerLink="/shifts-and-gigs">
    <button class="dashboard-button">
      <!-- <img class="dashboard-button-img" src="/shifts_logo.png"/> -->
      Shifts and Gigs
    </button>
    </a>
  </div>
  <div class="col-md-4 dashboard-button-div">
    <button class="dashboard-button">Button 2</button>
  </div>
  <div class="col-md-4 dashboard-button-div">
    <button class="dashboard-button">Button 3</button>
  </div>

</div>