<div class="basic-page-div fadeInDown">
  <div class="row fadeIn first">
    <div class="col-9">
      <h1 class="basic-page-title" style="float: right; margin-right: 90px">
        Professional Dashboard
      </h1>
    </div>
    <div class="col-3">
      <a href="/account">
        <button style="margin-top: 40px" type="button" class="btn btn-primary">
          Account
        </button>
      </a>
    </div>
  </div>
  <div class="row fadeIn second" style="margin-top: 60px">
    <div class="col-md-4 button-div">
      <a routerLink="/shifts-and-gigs">
        <button class="button button1">Shifts and Gigs</button>
      </a>
    </div>
    <div class="col-md-4 button-div">
      <a routerLink="/community">
        <button class="button button2">Community</button>
      </a>
    </div>
    <div class="col-md-4 button-div">
      <a routerLink="/mentor-matching">
        <button class="button button3">Mentor Matching</button>
      </a>
    </div>
    <div>
      <br />
      <br />
      <h3 class="job-listings">Pending Job Offers</h3>
    </div>
  </div>
</div>
