.shifts_button {
    width: 100px; 
    height: 35px;
    border: none;
    background-color: darkgrey;
}

.shifts_button:hover {
    background-color: lightgrey;
}

.diverse-img {
    display: none;
}

.diversity-img {
    display: none;
}
  
.msg {
    display: none;
}

.job-suggest {
    padding: 4px 10px;
    border: solid black 1px; 
    border-radius: 18px; 
    cursor: pointer;
    color: black;
    margin-left: 20px;
}

.job-suggest:hover {
    background-color: grey;
    text-decoration: none;
    color: white;
    border-color: grey;
}