<div class="container-fluid">
  <div class="col-md-12" style="text-align: center">
    <br />
    <a href="/" class="">
      <img class="nav-img" src="assets/Untitled_edited.png" />
    </a>
  </div>
  <br />

  <div class="navbar">
    <!-- Font links -->
    <link
      href="https://fonts.googleapis.com/css?family=Bebas Neue"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Darker Grotesque"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Archivo Narrow"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Alata"
      rel="stylesheet"
    />

    <body>
      <ul>
        <li><a style="cursor: pointer;" (click)="goHome()">Home</a></li>
        <li><a routerLink="/signup-professional">Job Seekers</a></li>
        <li><a routerLink="/signup-employer">Talent Seekers</a></li>
        <!-- <li><a href="/blog">Blog and Articles</a></li> -->
        <li><a routerLink="/about-us">About Us</a></li>
      </ul>
    </body>
  </div>
  <br />

  <router-outlet></router-outlet>
</div>