<div class="container-fluid">
<!--<div class="row navbar"></div>
     <div class="col-md-5">
      <a href="/" class="">
        <img class="nav-img" src="assets/Untitled_edited.png">
      </a>
    </div>
    <div class="col-7 nav_links_div"> 
  </div> -->
  
    <!-- Temp Navbar -->
    <!---
    <div class="col-md-12" style="text-align: center;">
      <a href="/" class="">
        <img class="nav-img" src="assets/Untitled_edited.png">
      </a>
    </div>
  -->
  <div class="col-md-12" style="text-align: center;">
    <br>
    <a href="/" class="">
      <img class="nav-img" src="assets/Untitled_edited.png">
    </a>
  </div>
  <br> 

  <div class="navbar">
    
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <body>
      
        <ul>
          <li><a href="/app">Home</a></li>
          <li><a href="/main-signup">Sign Up</a></li>
          <li><a href="/professional-signup">Job Seekers</a></li>
          <li><a href="/employer-signup">Talent Seekers</a></li>
          <li><a href="/shifts-and-gigs">Shifts & Gigs</a></li>
          <li><a href="/about-us">About Us</a></li>
        </ul>
    
    </body>
  </div>
  <br>

  <div class="diverse-img">
    <link href='https://fonts.googleapis.com/css?family=Darker Grotesque' rel='stylesheet'>
    <img class="diversity-img" src="assets/ColorfulConnections_TalentGrid_Horizontal_01_edited_edited.jpg">
    <div class="msg">Creating A Diverse Workforce To Spark Diverse Thinking</div>

  </div>
  <br> <br>

  <!--</div>-->

  <router-outlet></router-outlet>
</div>