<div class="container-fluid">
  <div class="col-md-12" style="text-align: center">
    <br />
    <a href="/" class="">
      <img class="nav-img" src="assets/Untitled_edited.png" />
    </a>
  </div>
  <br />

  <div class="navbar">
    <link
      href="https://fonts.googleapis.com/css?family=Bebas Neue"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Darker Grotesque"
      rel="stylesheet"
    />

    <body>
      <ul>
        <li><a href="/professional-dashboard">Home</a></li>
        <!-- <li><a href="/main-signup">Sign Up</a></li> -->
        <li><a href="/professional-signup">Job Seekers</a></li>
        <li><a href="/employer-signup">Talent Seekers</a></li>
        <!-- <li><a href="/shifts-and-gigs">Shifts & Gigs</a></li> -->
        <li><a href="/about-us">About Us</a></li>
      </ul>
    </body>
  </div>
  <br />

  <router-outlet></router-outlet>
</div>
