.community-title {
    font-size: 45px;
    color: rgb(22, 168, 239);
}

.discussion-board-div {
    width: 55%;
    padding: 0px 2%;
    float: left;
    text-align: center;
}

.discussion-column-title {
    text-align: center;
    font-size: 20px;
    float: left;
    padding-right: 25%;
}

.discussion-post {
    width: 90%;
    margin: 6px 5%;
    border: solid;
    border-width: 1px;
    border-color: darkgrey;
    float: left;
    padding: 5px;
}

.forum-div {
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 25px 0px;
}

.post-title-div {
    width: 65%;
    float: left;
    text-align: left;
    padding-left: 20px;
}

.post-replies-div {
    width: 10%;
    float: left;
}

.post-date-div {
    width: 20%;
    float: left;
    opacity: 0.6;
}

.post-link{
    color: black;
    font-size: 16px;
}

.post-icon {
    float: left;
    width: 5%;
    height: 20px;
}

.mentor-matching-div {
    width: 45%;
    padding: 0px 2%;
    float: left;
    text-align: center;
}

.mentor-matching-text {
    font-size: 20px;
    padding: 0px 110px;
    width: 100%;
}

.mentor-matching-link {
    width: 100%;
    margin: auto;
    height: 20px;
    font-size: 15px;
    margin-bottom: 30px; 
    float: left;
}