<h1
  class="community-title"
  style="font-size: 60px; text-align: center; margin-bottom: 50px"
>
  Community Space
</h1>

<div class="discussion-board-div">
  <h1 class="community-title">Discussion Board</h1>
  <form class="d-flex" style="width: 45%; margin: 20px auto 30px">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
  </form>
  <div class="forum-div clearfix">
    <h2 class="discussion-column-title" style="width: 60%">Topic</h2>
    <h2
      class="discussion-column-title"
      style="width: 20%; padding-left: 5%; padding-right: 0px"
    >
      Replies
    </h2>
    <h2 class="discussion-column-title" style="width: 20%; padding-right: 8%">
      Last Reply
    </h2>
    <div class="discussion-post clearfix">
      <div class="post-icon">
        <img
          style="max-height: 100%; max-width: 100%"
          src="/assets/text-bubble-icon-14.jpg"
        />
      </div>
      <div class="post-title-div">
        <a class="post-link" href="">Resume help?</a>
      </div>
      <div class="post-replies-div">4</div>
      <div class="post-date-div">20 minutes ago</div>
    </div>

    <div class="discussion-post clearfix">
      <div class="post-icon">
        <img
          style="max-height: 100%; max-width: 100%"
          src="/assets/text-bubble-icon-14.jpg"
        />
      </div>
      <div class="post-title-div">
        <a class="post-link" href="">Interview tips for Direct Supply</a>
      </div>
      <div class="post-replies-div">1</div>
      <div class="post-date-div">3 days ago</div>
    </div>

    <div class="discussion-post clearfix">
      <div class="post-icon">
        <img
          style="max-height: 100%; max-width: 100%"
          src="/assets/text-bubble-icon-14.jpg"
        />
      </div>
      <div class="post-title-div">
        <a class="post-link" href="">Career Day- May 1st</a>
      </div>
      <div class="post-replies-div">1</div>
      <div class="post-date-div">3 days ago</div>
    </div>
  </div>
</div>

<div class="mentor-matching-div">
  <h1 class="community-title">Mentor Matching</h1>
  <p class="mentor-matching-text">
    Want to get advice, tricks of the trade or career help? Sign up for our
    Mentor Matching program, where you will be matched with an industry
    professional who can help you on your career path.
  </p>
  <a class="mentor-matching-link" routerLink="/mentor-matching"
    >Sign up to be matched with one of our mentors!</a
  >

  <p class="mentor-matching-text">
    Been in your field for a long time and want to help others succeed? Apply to
    be a mentor today, and you'll be sharing your wisdom in no time.
  </p>
  <a class="mentor-matching-link" routerLink="/mentor-matching"
    >Apply to be a mentor!</a
  >
</div>
<br /><br />
