.logoutbtn {
    cursor: pointer;
}

input {
    color: black;
}
h1 {
  font-family: "Darker Grotesque";
}

.logoutbtn {
  cursor: pointer;
}

.btn-delete {
  background-color: red;
  outline-color: red;
  border-color: red;
}

.btn-delete:hover {
  opacity: 0.6;
}