<div class="row">
    <h2 style="margin: 10px auto 20px auto">Page Links</h2> 
</div>
<div class="row" style="text-align: center;">
    <a href="/" class="col-12 page-button">Home</a>
    <a href="/professional-dashboard" class="col-12 page-button">Professional Dashboard</a>
    <a href="/main-signup" class="col-12 page-button">Main Signup</a>
    <a href="/employer-dashboard" class="col-12 page-button">Employer Dashboard</a>
    <a href="/employer-signup" class="col-12 page-button">Employer Signup</a>
    <a href="/professional-signup" class="col-12 page-button">Professional Signup</a>
    <a href="/shifts-and-gigs" class="col-12 page-button">Shifts and Gigs</a>
    <a href="/mentor-matching" class="col-12 page-button">Mentor Matching</a>
    <a href="/browse-professionals" class="col-12 page-button">Browse Professionals</a>

</div>