/* GLOBAL STYLES */
.navbar {
    background-color: lightgray;
}

.nav_links_div {
    text-align: center;
}

.nav_title {
    color: rgb(4, 84, 204);
    text-decoration: none;
    font-size: xx-large;
    font-weight: 600;
    font-family: Arial,Helvetica,sans-serif;
}

.page-title {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 58px;
}

.nav_title:hover {
    text-decoration: none;
    opacity: 0.6;
}

.nav_button {
    color: black;
    margin-left: 1em;
    text-decoration: none;
    font-size: larger;
}

.nav_button:hover {
    color: gray;
    text-decoration: none;
}

.page-div {
    margin: 70px 110px 0 110px !important;
    text-align: center;
}

.dashboard-button-div {
    height: 300px;
    padding: 0 5px 0 5px !important;
}

@media only screen and (max-width: 768px) {
    .dashboard-button-div {
        margin: 10px 50px 10px 50px;
    }
}

.dashboard-button {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 7px 0px #999;
    font-size: 30px;
    background-color: #fff;
}

.dashboard-button:active {
    box-shadow: 0 0 #999;
}

.dashboard-button:focus {
    outline: none;
}