<div class="basic-page-div fadeInDown">
  <h1 class="basic-page-title fadeIn first">Account</h1>

  <form class="form-group row fadeIn second" style="margin-top: 40px;">
    <!-- Left div -->
    <div class="col-md-4" style="margin-left: 0;">
      <button type="button" class="btn btn-secondary" style="width: 200px; border-radius: 0;">Account Information</button>
      <button type="button" class="btn btn-secondary" style="width: 200px; background-color: #fff; color: grey; border-radius: 0;">Notification Settings</button>
    </div>

    <!-- Right div -->
    <div class="col-md-8">
      <div class="form-group">
        <label for="firstname" style="float: left;">First Name</label>
        <input required type="text" class="form-control" name="fname" id="fname"
          placeholder="First">
      </div>
      <div class="form-group">
        <label for="email" style="float: left;">Email address</label>
        <input required type="text" class="form-control"  name="email" id="email"
          placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="position" style="float: left;">Position</label>
        <input type="text" class="form-control"  name="position" id="position"
          placeholder="Position">
      </div>
      <div class="form-group">
        <label for="password" style="float: left;">Password</label>
        <input type="text" class="form-control"  name="password" id="password"
          placeholder="Password">
      </div>

      <div class="form-group">
        <label for="password" style="float: left;">Gender</label>
        <input type="text" class="form-control" name="password" id="password"
          placeholder="Gender">
      </div>
      <div class="form-group">
        <label for="password" style="float: left;">Pronouns</label>
        <input type="text" class="form-control"  name="password" id="password"
          placeholder="Pronouns">
      </div>

      <button type="button" (click)="createUser()" [routerLink]="['/employer-dashboard']" class="btn btn-primary" style="float: left;">Save Changes</button>
    </div>

    <!-- Bottom div -->
    <div class="col-md-12" style=" margin-top: 50px;">
      <!-- <button type="button" (click)="createUser()" [routerLink]="['/employer-dashboard']" class="btn btn-primary">Save Changes</button> -->
    </div>
  </form>
</div>